.black {
    color: black;
}
.red {
    color: red;
}
body {
    background-color: rgb(255, 255, 255);
}
.discover_now {
    color: white;
    background-color: rgba(240, 248, 255, 0);
    border-color: white;
}
.h3_section_1_first_div {
color: white;
}